body {
  color: #777777;
  background: url("../images/WaveFormRGBParade_1080.png");
}

.container{
  color: whitesmoke;
}

.card-title{
  color: #777777;
  text-align: center;
}

.bio{
  background: black;
  
}